header{
  background-color: rgb(78, 78, 231);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  display: inline-block;
}

a{
  color: white;
  text-decoration: none;  
  font-size: 19px;
  text-transform: capitalize;
  font-weight: bolder;
}
  
ul{
  list-style: none;
}

li{
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
}

.ImagenProducto {
  background-color: red;
  width: 65px;
  height: 100px;

}

.carta {
  text-align: center;
  background-color: rgb(89, 230, 255);
  border: black solid 2px;
  color: black;
display: inline-block;
margin: 5px;
}

.productos{
  text-align: center;
  justify-content: center;
  margin: 10px;
}

h2{
font-size: 18px;
font-family: 'Courier New', Courier, monospace;
text-transform: uppercase;
color: black;
font-weight: bolder;
}

.itemDetail {
  text-align: center;
  justify-content: center;
  background-color: rgba(25, 25, 155, 0.199);
  border-bottom: black 5px solid;
  margin-right: 5%;
  margin-left: 5%;
}