header{
  background-color: rgb(78, 78, 231);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

ul{
  display: inline-block;
}

a{
  color: white;
  text-decoration: none;  
  font-size: 19px;
  text-transform: capitalize;
  font-weight: bolder;
}
a:hover{
  color: black;
}
  
ul{
  list-style: none;
}

li{
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
}

.ImagenProducto {
    width: 60%;
}

.ImagenProducto:hover{
  filter: grayscale();
}

.carta {
  text-align: center;
  background-color: rgb(237 237 237);
  border-bottom: solid 5px rgb(78, 78, 231);
  color:rgb(78, 78, 231);
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 30%;
}

.productos{
  text-align: center;
  justify-content: center;
  margin: 10px;
}

h2{
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  margin: 10px;
}

.itemDetail {
  text-align: center;
  justify-content: center;
  background-color: rgba(25, 25, 155, 0.199);
  border-bottom: black 5px solid;
  margin-right: 5%;
  margin-left: 5%;
}

.error404P{
  text-align: center;
  color: red;
  margin: 20px;
}

.aLink {
  color: rgb(73, 73, 73);
  font-style: italic;
  font-size: 12px;
  border: 2px rgba(255, 255, 255, 0.363) solid;
}

.logoIni {
border-right: white 1px solid;
padding: 10px;
}
